# Node stuff
node_modules
.npm
.node_repl_history
.lock-wscript
logs
*.log
npm-debug.log*
package-lock.json

# OS stuff
Desktop.ini
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
._*
.DS_Store
.Spotlight-V100
.Trashes

# config (ignore for github!!)
config/config.js
APICONFIG.js

#other
blob/
